/Binaries
/Intermediate
/Content/ThirdPersonBP/Blueprints/mesh/mesh_current/Complex.uasset
/Content/ThirdPersonCPP/Blueprints/first_robot_lq.uasset
/Content/ThirdPersonCPP/Blueprints/NewFolder2/animated_first_robot.uasset
/Content/ThirdPersonCPP/Blueprints/NewFolder2/second_robot.uasset